.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30vw;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;

}

.about .div1 {
    grid-area: 1 / 1 / 2 / 4;
    background-image: radial-gradient(circle at bottom right, #ffd4c6 0%, #feebd2 100%);
    /* background-image: linear-gradient(135deg, #FFAA85 10%, #B3315F 100%); */
    /* background-image: linear-gradient(135deg, #FFF6B7 10%, #F6416C 100%); */
    /* background-image: radial-gradient(circle at bottom right, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.02) 30%, rgba(0, 0, 0, 0) 100%); */
    transition: all 0.3s;
    border-radius: 30px;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.17);
    filter: grayscale(100%);

}


.about .div1 article {
    margin: 2vw;
    margin-top: 1.5vw;
    line-height: 1.3;
    font-size: 1vw;
    text-align: justify;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.about .div1 article>p {
    color: rgb(113, 93, 12);
    margin-bottom: 0.9vw;
}

.about .div1 article p:first-child:first-letter {
    color: #903;
    float: left;
    font-family: Georgia;
    font-size: 4vw;
    line-height: 70px;
    padding-top: 0.1vw;
    padding-right: 0.5vw;
    padding-left: 0.1vw;
}

.about>div:hover {
    transition: all 0.3s;
    transform: scale(1.025);
    /* background-color: yellow; */
    box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.15);
    filter: grayscale(0%);
}