/* @import url('http://fonts.googleapis.com/css?family=Oleo+Script'); */

body {
    margin: 0;
}

.landing {
    height: 100vh;
}

.fixed {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(130deg, Coral 5%, #fdcd3b 60%, #ffed4b 60%);
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.selfie {
    position: relative;
    display: flex;
    margin-left: 20vw;
    margin-right: 1vw;
}

.selfie img {
    object-fit: cover;
    object-position: center;
    transition: all 0.3s;
    width: 20vw;
    height: 20vw;
    border-radius: 20px;
    transform: scaleX(-1);
}


.selfie #blurred {
    position: absolute;
    z-index: -1;
    filter: brightness(2) blur(50px);
}

.selfslogan {
    width: 50vw;
    margin: 30px;
}