@font-face {
    font-family: 'Oleo Script';
    src: url('../fonts/OleoScript-Regular.ttf');
    /* src: 
		local('Lovely Font'),
		local('Lovely-Font'),
		url('fonts/lovely_font.otf') 
		format('opentype'); */
}



.rw-wrapper {
    /* background-color: white; */
    font-family: 'Oleo Script', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5vw;
    text-align: left;
    line-height: 1.5;
    text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
        10px 20px 5px rgba(0, 0, 0, 0.05),
        -10px 20px 5px rgba(0, 0, 0, 0.05);
    color: rgb(65, 122, 158);
    transition: opacity .5s;
    opacity: 1;
}

.rw-wrapper h2 {
    margin: 0px;
}

/* ////////// */

p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.word {
    position: absolute;
    opacity: 0;
}

.letter {
    display: inline-block;
    position: relative;
    /* float: left; */
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.one {
    color: #EC7063;
}

.two {
    color: #A569BD;
}

.three {
    color: #5DADE2;
}

.four {
    color: #45B39D;
}

.five {
    color: rgb(244, 105, 63);
}

.six {
    color: #DC7633;
}